<div class="class">
  <h1 class="tituloAulas">Aula sobre iteração foreach</h1>
  <div class="cards" *ngIf="livros.length > 0; else mensagemvazia">
    <div class="card" *ngFor="let item of livros">
      <h2>Nome do livro:{{item.nome | titlecase}}</h2>
      <p>ISBN:{{item.isbn}}</p>
      Quantidade de paginas:{{item.quantidadePagina}}
      <br>
      <button class="buttonClick" routerLink="/book/{{item.isbn}}">Visualizar este item</button>
      <button class="buttonClick" (click)="deletarLivro((item.isbn))">Deletar este item</button>
    </div>
  </div>
  <ng-template #mensagemvazia>
    <h1>Esta lista esta vazia</h1>
  </ng-template>
</div>