<div class="class">
    <h1 class="tituloAulas">Aula 02 introdução </h1>
    <h3 class="descricaoAulas">Utilizando estilização css em classes sem usar o ng no inicio, e tambem
        utilizando variáveis para colocar dados no front vindo do ts
    </h3>
 <div class="BlocoOne">
    <h1 class="title"> Titulo da aplicação</h1>
    <p class="description"> Aqui esta toda a descrição Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id amet earum optio! Asperiores, ea nulla quia quas minima est molestiae dolore autem perferendis. Iusto consectetur enim, at maxime repellendus praesentium.</p>
    <p class="jobs">Meus programas favoritos:{{gostos}}</p>
</div>

</div>


